---
---

<form>
  <label>
    <div class="input-container">
      <input
        class="email-input"
        type="text"
        name="email"
        required
        placeholder="E-mail..."
      />
      <button type="submit">Înscrie-te</button>
    </div>
  </label>
  <label>
    Sunt de acord cu termenii si conditiile
    <input type="checkbox" required />
  </label>
</form>

<style>
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  label {
    width: 100%;
  }

  .input-container {
    display: flex;
    width: 100%;
  }

  .email-input {
    font-size: 1.2rem;
    width: 100%;
    background-color: rgba(var(--accent-dark-2));
    color: rgba(var(--accent));
    border: none;
    padding: 0 6rem 0 1rem;
    border-radius: 4px;
  }

  input:focus {
    border: none;
    outline: 1px solid rgba(var(--accent));
  }

  button {
    width: 5rem;
    height: 3rem;
    font-size: 1rem;
    margin-left: -5rem;
  }
</style>
